@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  --theme-color: #75bf7a;
  --light-text-color: #9e9da2;
}

.header {
  height: 140px;

  display: flex;
  justify-content: space-between;
}

.links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 46px;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17.16px;
  color: black;
}

.links button {
  border-radius: 5.95px;
  background-color: #75bf7a;
  color: white;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  font-weight: 600;
  font-size: 22px;
}

.logo-img {
  display: flex;
  align-items: center;
  padding-left:80px;
}

.main-hero-section {
  display: flex;
  justify-content: center;
  height: 70vh;
  gap: 50px;
  

}

.section-one {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 80px;

}

.section-two {

  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 40px;
}

.section-one h2 {
  font-weight: 800;
  font-size: 60.73px;
}

.section-one p {
  font-weight: 500;
  font-size: 24px;
  color: #9e9da2;
  padding-top:20px ;
}

.section-one button {
  font-size: 24px;
  font-weight: 800;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 18px; */

}

.button-1{
display : flex;  
justify-content:flex-start;
padding-right: 20px;
 } 

 .button-2{
  padding-right: 20px;
 }


.button-div {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  padding-top: 50px;
  gap: 30px;

}

.green-section {
  margin-left: 80px;
  margin-right: 80px;

  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(--theme-color);
  height: 166px;
  border: black;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.green-section p {
  font-size: 24.6px;
  font-weight: 600;
  color: white;
}

.green-section input {
  font-size: 24px;
  padding: 20px;
  border-radius: 4.39px;
  border: none;
  width: 400px;
}

.green-section input:focus {
  outline-color: var(--theme-color);
}

.green-section div {
  display: flex;
  gap: 12px;
}

.section-heading {
  font-size: 46px;
  font-weight: 800;
}

.section-heading span {
  color: var(--theme-color);
}

.section-para {
  font-weight: 500;
  font-size: 23px;
  color: var(--light-text-color);
  width: 50%;
  text-align: center;
}

.text-wala-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 999px;
  background-color: var(--theme-color);
  /* display: flex;
  justify-content: center;
flex-direction: column; */
margin-left:500px;
margin-top: 300px;

}

/* .parent {
  border: 4px solid blue;
  height: 300px;
  width: 400px;
}

.child {
  border: 3px solid red;
  height: 300px;
  width: 50%;
} */

.my-button {
  font-size: 24px;
  font-weight: 800;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 18px; */
}
.circle{
display: flex;  
justify-content: center;
width: 250px;
height: 250px;
size: 200px;
}